In [1]:
import sqlite3

In [20]:
conn = sqlite3.connect('banco.db')

In [3]:
conn.close()

In [15]:


create_query_table ="""
create table clients (
id integer not null primary key autoincrement,
nome text not null,
idade integer,
cpf varchar(11) not null
);
"""

In [21]:
com = sqlite3.connect('banco.db')
cursor = com.cursor()
cursor.execute(create_query_table)

In [22]:
import pandas as pd
import sqlite3

In [23]:
com = sqlite3.connect("banco.db")
df = pd.read_sql_query("select * from clients",com)
df

Empty DataFrame
Columns: [id, nome, idade, cpf]
Index: []